<table class="generaltable"><thead><tr><th>Name</th><th>Description</th><th>Capability</th></tr></thead><tbody>
{{#rows}}<tr><td><code>{{name}}</code></td><td>{{description}}</td><td><code>{{capability}}</code></td></tr>{{/rows}}
</tbody></table>
